<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title></title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="container">
        <form action="/result" method="POST">
            <div class="input-group">
                <span class="input-group-text"></span>
                <div class="row">    
                <input type="text" name= "name1"  placeholder="first name" class="form-control">
                <input type="text" name= "name2"  placeholder="last name" class="form-control">
                </div>
            </div>
            <br>
            <br>
            <select class="form-select" aria-label="Default select example" required name="select1">
                <option value>Selecciones Dojo</option>
                <% for (dojos of dojo) { %>
                <option value="<%=dojos.name%>"><%=dojos.name%></option>
                <% } %>
            </select>
            <select class="form-select" aria-label="Default select example" required name="select2">
                <option value>Selecciones Dojo</option>
                <% for (lenguages of lenguage) { %>
                <option value="<%=lenguages.name%>"><%=lenguages.name%></option>
                <% } %>
            </select>        
            <br>
            <br>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label" ></label><br>
                <br>
                <textarea placeholder="comment (optional)" class="form-control" id="exampleFormControlTextarea1" rows="3" name= "textarea"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>